<div class="jumbotron ">
  <h1 class="display-4"><%= @article.title   %></h1>
  <p class="lead"><%= @article.description   %></p>
  <hr class="my-6">
  <p class="lead">
    <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
  </p>
</div>




















