<h2>Here are this article</h2>

<p>  <%= @article.title   %> </p>
<p>  <%= @article.description   %> </p>
<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<%= link_to "All Articles", articles_path %>