<div class="jumbotron ">
  <h1 class="display-4">Learn Hunter!</h1>
  <p class="lead">This is a very good youtube channel where you can easily lerarn web development.</p>
  <hr class="my-6">
  <p class="lead">
  	<%= link_to'Create an Article', new_article_path, class:"btn btn-primary" %>
    
  </p>
</div>
