<div class="jumbotron ">
  <h1 class="display-4 text-success">Learn Hunter!</h1>
  <p class="lead">This is a very good youtube channel where you can easily learn web development.</p>
  <hr class="my-4">
  <p>If you want to add or subscribe this channel just <span class="text-danger">Sign up</span> now.</p>
  <p class="lead">
    <a class="btn btn-warning text-white " href="#" role="button">Sign Up</a>
  </p>
</div>
